<!--<h1>Seo#index</h1>-->




<p>Find me in app/views/seo/index.html.erb</p>


<% set_meta_tags :title => 'qwe123',  :description => 'Member login page 1.',
                 :keywords => @key_words
%>

<%
   # set_meta_tags :title => 'Member Login', :description => 'Member login page.',           :keywords => 'Site, Login, Members'
%>